
@{
    ViewBag.Title = "FormAdaugare";
}

<h2>Adauga un nou produs (functionalitatea ar trebui sa fie disponibila doar utilizatorilor colaboratori)</h2>
<br />
<form method="post" action="/Produs/Adaugare">

    <div class="form-group">
        <label>Titlu</label>
        <input class="form-control" type="text" name="titlu" />
    </div>
    <br />
    <select class="form-control" name="categoriiDeAdaugatId" multiple>

        @foreach (var categ in ViewBag.categorii)
        {
            <option value="@categ.idCategorie">@categ.titlu</option>
        }

    </select>
    <br />
    <div class="form-group">
        <label>Descriere</label>
        <input class="form-control" type="text" name="descriere" />
    </div>
    <br />
    <div class="form-group">
        <label>Preț</label>
        <input class="form-control" type="number" name="pret" />
    </div>
    <br />
    <div class="form-group">
        <label>Cantitate</label>
        <input class="form-control" type="number" name="cantitate" />
    </div>
    <br />
    <div class="form-group">
        <label>ID Owner</label>
        <input class="form-control" type="number" name="idOwner" />
    </div>
    <br />
    <button class="btn btn-success" type="submit">Adaugă noul produs</button>

</form>