
@{
    ViewBag.Title = "FormAdaugare";
}

<h2>Adaugă o nouă categorie (aceasta functionalitate ar trebui sa fie disponibila doar utilizatorilor admin)</h2>
<br />
<form method="post" action="/Categorie/Adaugare">

    <div class="form-group">
        <label>Titlu</label>
        <input class="form-control" type="text" name="titlu" />
    </div>
    <br />
    <div class="form-group">
        <label>Descriere</label>
        <input class="form-control" type="text" name="descriere" />
    </div>
    <br />
    <button class="btn btn-success" type="submit">Adaugă noua categorie</button>
</form>

